

.contact {
    width: 70%;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-right: 3rem;
    height: 500px;
   
    padding: 2rem;
    
}
.contact h2{
    font-size: 2.4rem;
}
.contact-links {
    background-color: black;
    opacity: 0.6;
}
.contact-input {
    width: 80%;
    border-radius: 3px;
    border: 2px solid #ccc;
    padding: 10px;
} 
textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    resize: none;
    margin-top: 10px;
  }
  .form > div{
      margin-top: 14px;
  }
  .submit {
      color: white;
      background-color: black;
      padding: 0.5rem;
      border: none;
  }
  
